table {
            margin-left: 10%;
            border: 2px solid black;
            background: #fff;
        }

        table input[type="text"] {
            padding: 0;
            border-top: 0px solid white !important;
            border-left: 0px solid white !important;
            border-right: 0px solid white !important;
            font-size: 14px;
            color: black;
        }

        .border {
            border-top: 1px solid;
        }

        td {
            border: 1px solid;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        input[type="text"] {
            padding: 0;
            border-top: 1px solid white;
            border-left: 1px solid white;
            border-right: 1px solid white;
            font-size: 14px;
            color: black;
        }

        .v-input {
            padding: 0;
            margin: 0;
        }

        .v-text-field > .v-input__control > .v-input__slot {
            margin-bottom: 0;
        }

        .v-messages {
            min-height: 0px;
        }

        p {
            padding-top: 0px;
            margin-bottom: 3px;
        }
    </style>
    <style type="text/css" media="screen">
        .wrapper, .main-sidebar, .left-side {
            background-color: #222d32;
        }

        .wrapper {
            height: 100%;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .wrapper:before, .wrapper:after {
            content: " ";
            display: table;
        }

        .main-header {
            position: relative;
            max-height: 100px;
            z-index: 1030;
        }

        .main-header .logo {
            background-color: #367fa9;
            color: #fff;
            border-bottom: 0 solid transparent;
        }

        .main-header .logo {
            -webkit-transition: width .3s ease-in-out;
            -o-transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
            display: block !important;
            float: left !important;
            height: 50px !important;
            font-size: 20px !important;
            color: white;
            line-height: 50px !important;
            text-align: center !important;
            width: 230px !important;
            text-decoration: none;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            padding: 0 15px !important;
            font-weight: 500 !important;
            overflow: hidden !important;
            background-color: #367fa9 !important;
        }

        .main-header .navbar .nav > li > a:hover, .main-header .navbar .nav > li > a:active, .main-header .navbar .nav > li > a:focus, .main-header .navbar .nav .open > a, .main-header .navbar .nav .open > a:hover, .main-header .navbar .nav .open > a:focus, .main-header .navbar .nav > .active > a {
            background: rgba(0, 0, 0, 0.1);
            color: #f6f6f6;
        }

        .main-header .navbar .nav > li > a {
            color: #fff;
        }

        .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
            color: #444;
            background: #f7f7f7;
        }

        .skin-blue .main-header .navbar .nav > li > a {
            color: #fff;
        }


            .navbar-nav > li > a {
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 20px;
            }

            .nav > li > a {
                position: relative;
                display: block;
                padding: 10px 22px;
                margin-right: 10px;
            }

            .main-header .navbar {
                background-color: #3c8dbc !important;
            }

            .main-header .navbar {
                background-color: #3c8dbc !important;
                -webkit-transition: margin-left .3s ease-in-out;
                -o-transition: margin-left .3s ease-in-out;
                transition: margin-left .3s ease-in-out;
                margin-bottom: 0;
                margin-left: 230px;
                border: none;
                min-height: 50px;
                border-radius: 0;
            }

            .navbar-static-top {
                border-radius: 0;
            }

            .navbar-static-top {
                z-index: 1000;
                border-width: 0 0 1px;
            }

            .navbar {
                border-radius: 4px;
            }

            .navbar {
                position: relative;
                min-height: 50px;
                margin-bottom: 20px;
                border: 1px solid transparent;
            }

            .main-header .navbar .sidebar-toggle {
                color: #fff;
            }

            .main-header .navbar .sidebar-toggle {
                color: #fff;
            }

            .main-header .sidebar-toggle {
                float: left;
                background-color: transparent;
                background-image: none;
                padding: 15px 15px;
                font-family: fontAwesome;
            }

            [role=button] {
                cursor: pointer;
            }

            .main-header .sidebar-toggle:before {
                content: "\f0c9" !important;
            }

            :after, :before {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .sr-only {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }

            .sr-only {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }

            .main-header .navbar-custom-menu, .main-header .navbar-right {
                float: right;
            }

            .navbar-nav {
                float: left;
                margin: 0;
            }

            .navbar-nav {
                margin: 7.5px -15px;
            }

            .nav {
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
            }

            ol, ul {
                margin-top: 0;
                margin-bottom: 10px;
            }

            * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            user agent stylesheet
            ul, menu, dir {
                display: block;
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }

            .navbar-custom-menu > .navbar-nav > li {
                position: relative;
            }

            .navbar-nav > li {
                float: left;
            }

            .nav > li {
                position: relative;
                display: block;
            }

            .dropdown, .dropup {
                position: relative;
            }

            .main-header .navbar .nav > li > a {
                color: #fff;
            }

            .navbar-nav > li > a {
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 20px;
            }

            .nav > li > a {
                position: relative;
                display: block;
                padding: 10px 15px;
            }

            .navbar-nav > .user-menu .user-image {
                float: left;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 10px;
                margin-top: -2px;
            }

            .nav > li > a > img {
                max-width: none;
            }

            img {
                vertical-align: middle;
            }

            img {
                border: 0;
            }

            .main-header .navbar .nav > li > a {
                color: #fff;
            }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 20px;
            }

            .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
                position: absolute;
                right: 0;
                left: auto;
            }

            .navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu > .user-body {
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .navbar-nav > .user-menu > .dropdown-menu {
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                padding: 1px 0 0 0;
                border-top-width: 0;
                width: 280px;
            }

            .navbar-nav > li > .dropdown-menu {
                margin-top: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .dropdown-menu {
                box-shadow: none;
                border-color: #eee;
            }

            .dropdown-menu {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                display: none;
                float: left;
                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                font-size: 14px;
                text-align: left;
                list-style: none;
                background-color: #fff;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                border: 1px solid #ccc;
                border: 1px solid rgba(0, 0, 0, .15);
                border-radius: 4px;
                -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            }

            .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
                height: 175px;
                padding: 10px;
                text-align: center;
            }

            .main-header li.user-header {
                background-color: #3c8dbc;
            }

            .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
                z-index: 5;
                height: 90px;
                width: 90px;
                border: 3px solid;
                border-color: transparent;
                border-color: rgba(255, 255, 255, 0.2);
            }

            .img-circle {
                border-radius: 50%;
            }

            img {
                vertical-align: middle;
            }

            .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
                display: block;
                font-size: 12px;
            }

            .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
                z-index: 5;
                color: #fff;
                color: rgba(255, 255, 255, 0.8);
                font-size: 17px;
                margin-top: 10px;
            }

            .navbar-nav > .user-menu > .dropdown-menu > .user-footer {
                background-color: #f9f9f9;
                padding: 10px;
            }

            .pull-left {
                float: left !important;
            }

            .pull-right {
                float: right !important;
            }

            .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
                color: #666666;
            }

            .btn.btn-flat {
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border-width: 1px;
            }

            .btn-default {
                background-color: #f4f4f4;
                color: #444;
                border-color: #ddd;
            }

            .btn {
                border-radius: 3px;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: 1px solid transparent;
            }

            .btn-default {
                color: #333;
                background-color: #fff;
                border-color: #ccc;
            }

            .btn {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
            }

            .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
                color: #666666;
            }

            .btn.btn-flat {
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border-width: 1px;
            }

            .btn-default {
                background-color: #f4f4f4;
                color: #444;
                border-color: #ddd;
            }

            .btn {
                border-radius: 3px;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: 1px solid transparent;
            }

            .btn-default {
                color: #333;
                background-color: #fff;
                border-color: #ccc;
            }

            .wrapper, .main-sidebar, .left-side {
                background-color: #222d32;
            }

            .main-sidebar {
                background-color: #222d32 !important;
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 50px;
                min-height: 100%;
                width: 230px;
                z-index: 810;
                -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
                -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
                -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
                transition: transform .3s ease-in-out, width .3s ease-in-out;
            }

            article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
                display: block;
            }

            .sidebar {
                padding-bottom: 10px;
            }

            .sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
                white-space: nowrap;
                overflow: hidden;
            }

            .user-panel {
                position: relative;
                width: 100%;
                padding: 10px;
                overflow: hidden;
            }

            .user-panel > .image > img {
                width: 100%;
                max-width: 45px;
                height: auto;
            }

            .user-panel > .info, .user-panel > .info > a {
                color: #fff;
            }

            .user-panel > .info {
                padding: 5px 5px 5px 15px;
                line-height: 1;
                position: absolute;
                left: 55px;
            }

            .user-panel:after {
                clear: both;
            }

            .user-panel:before, .user-panel:after {
                content: " ";
                display: table;
            }

            .user-panel:before, .user-panel:after {
                content: " ";
                display: table;
            }

            :after, :before {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .user-panel > .info > p {
                font-weight: 600;
                margin-bottom: 9px;
            }

            .user-panel > .info, .user-panel > .info > a {
                color: #fff;
            }

            .sidebar a {
                color: #b8c7ce;
            }

            .user-panel > .info > a {
                text-decoration: none;
                padding-right: 5px;
                margin-top: 3px;
                font-size: 11px;
            }

            .user-panel > .info > a > .fa, .user-panel > .info > a > .ion, .user-panel > .info > a > .glyphicon {
                margin-right: 3px;
            }

            .fa {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .text-success {
                color: #3c763d;
            }

            .fa-circle:before {
                content: "\f111";
            }

            .sidebar-form {
                border-radius: 3px !important;
                border: 1px solid #374850 !important;
                margin: 10px 10px !important;
            }

            .sidebar-form, li.header {
                overflow: hidden;
                text-overflow: clip;
            }

            .input-group {
                position: relative;
                display: table;
                border-collapse: separate;
            }

            .sidebar-form input[type="text"] {
                color: #666;
                border-top-left-radius: 2px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 2px;
            }

            .sidebar-form input[type="text"], .sidebar-form .btn {
                box-shadow: none;
                background-color: #374850;
                border: 1px solid transparent;
                height: 35px;
            }

            .input-group .form-control, .input-group-addon, .input-group-btn {
                display: table-cell;
            }

            .input-group .form-control {
                position: relative;
                z-index: 2;
                float: left;
                width: 100%;
                margin-bottom: 0;
            }

            .input-group-btn {
                position: relative;
                font-size: 0;
                white-space: nowrap;
            }

            .input-group-addon, .input-group-btn {
                width: 1%;
                white-space: nowrap;
                vertical-align: middle;
            }

            .sidebar-form .btn {
                color: #999;
                border-top-left-radius: 0;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 0;
            }

            .sidebar-form input[type="text"], .sidebar-form .btn {
                box-shadow: none;
                background-color: #374850;
                border: 1px solid transparent;
                height: 35px;
            }

            .fa-search:before {
                content: "\f002";
            }

            .sidebar-menu {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li.header {
                color: #4b646f;
                background: #1a2226;
            }

            .sidebar-form, .sidebar-menu > li.header {
                overflow: hidden;
                text-overflow: clip;
            }

            .sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
                white-space: nowrap;
                overflow: hidden;
            }

            .sidebar-menu li.header {
                padding: 10px 25px 10px 15px;
                font-size: 12px;
            }

            .sidebar-menu > li {
                position: relative;
                margin: 0;
                padding: 0;
            }

            .main-header .navbar {
                background-color: #3c8dbc;
            }

            .sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
                white-space: nowrap;
                overflow: hidden;
            }

            .sidebar-menu {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .sidebar-menu > li.header {
                color: #4b646f;
                background: #1a2226;
            }

            .sidebar-form, .sidebar-menu > li.header {
                overflow: hidden;
                text-overflow: clip;
            }

            .sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
                white-space: nowrap;
                overflow: hidden;
            }

            .sidebar-menu li.header {
                padding: 10px 25px 10px 15px;
                font-size: 12px;
            }

            .sidebar-menu > li {
                position: relative;
                margin: 0;
                padding: 0;
            }

            .sidebar-menu > li > a {
                border-left: 3px solid transparent;
            }

            .sidebar a {
                color: #b8c7ce;
            }

            .sidebar-menu li > a {
                position: relative;
            }

            .sidebar-menu > li > a {
                padding: 12px 5px 12px 15px;
                display: block;
            }

            .wrapper, .main-sidebar, .left-side {
                background-color: #222d32 !important;
            }

            .user-panel > .info, .user-panel > .info > a {
                color: #fff !important;
            }
